*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.anchors{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.pages-list{
    list-style: none;
    padding: 1rem;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(202, 166, 226);
    border-bottom-left-radius: 1rem;
}