@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&family=Nunito:wght@300;400;500;600;700&display=swap');

:root {
    --white-bga: white;
    --shadow-gainsboro:gainsboro;
    --body-bg:#f1f3f6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: var(--body-bg);
}

.sort-byname {
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0rem 0.5rem;
}

.sort-sub {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0rem 0.5rem;
}

.filter-text {
    font-size: 0.88rem;
    font-weight: 400;
}

.sortby-container {
    border: 1px solid var(--shadow-gainsboro) ;
    box-shadow: 0.1px 0.1px 0.2px 0.6px var(--shadow-gainsboro) ;
    width: max-content;
    padding: 0.5rem 1rem;
    background-color: var(--body-bg);
}

.all-contain {
    border: 1px solid var(--shadow-gainsboro) ;
    background-color: var(--body-bg);
}

.left-side {
    margin: 2rem 4rem 0rem 4rem;
}

.sortby-container {
    margin: 2rem 4rem 1rem 4rem;
}

.right-side {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container{
    margin: 0.4rem 1rem;
}

.right {
    position: absolute;
    top: 4rem;
    left: 21.5em;
    width: 70%;
}

@media(max-width:1170px){
    .right {
        position: absolute;
        top: 4rem;
        left: 21.5em;
        width: 56%;
    }

    .card-container{
        margin: 0.4rem 0rem;
    }
}

@media(max-width:799px){
    .left{
        display: none;
    }
    .right{
        width: 100%;
        position: absolute;
        top: 3rem;
        left: 0rem;
    }
    .card-container{
        margin: 0.4rem 0rem;
    }
}

@media(max-width:500px){
    .left{
        display: none;
    }
    .right{
        width: 100%;
        position: absolute;
        top: 3rem;
        left: 0rem;
    }
    .card-container{
        margin: 0.4rem 0rem;
    }
    .sortby-container{
        display: block;
    }
}